.thumbnail {
  margin-right: 15px;
}

.active {
  opacity: 0.5;
}

.list-style {
  list-style: none;
}

.btn-style {
  background-color: transparent;
  border-width: 0;
  outline: none;
  cursor: pointer;
}